.Customers{
    display:grid;
    place-items: center;
}

h2{

}

.card {
  border-radius: 5px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.container1{
    align-items: center;
}
