
.mainbackground{
    background: red;
    background-color: linear-gradient(45deg,var(--main-background));
    /* background-image: url("Frontend/src/Images/background-2.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */ 
}
