
.mainbackground{
    background: red;
    background-color: linear-gradient(45deg,var(--main-background));
    /* background-image: url("Frontend/src/Images/background-2.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:px;
    /* padding-top: 50px; */
    /* padding-bottom: 50px; */ 
}

/* .svg{
    padding-right: 30px;
    
} */

.svg :hover{
    color:red;
    cursor: pointer;
}

.svg {
    padding: 10px;
    min-width: 100px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.svg:hover {
    cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.effect{
  transition: all 0.3s ease;
}

.effect:hover{
  transform: translateY(-5px);
}
